{% extends "base.html" %}
{% load assest_tag %}
{% block title %}
    资产表管理
{% endblock %}
{% block css %}

{% endblock css %}


{% block content %}

    {% ifequal type 'all_assest' %}
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            所有资产表
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>表名称</th>
                                    <th>表展示名称</th>
                                    <th>字段数</th>
                                    <th>修改表信息</th>
                                    <th>删除表</th>
                                    <th>修改字段</th>
                                </tr>
                                </thead>
                                <tbody>
                                {#                            {{ assest_list }}#}
                                {% for assest in assest_list %}
                                    <tr>
                                        <td id="{{ assest | mongo_id }}">{{ forloop.counter }}</td>
                                        <td>{{ assest.name }}</td>
                                        <td>{{ assest.display_name }}</td>
                                        <td>{{ assest.field_list |length }}</td>
                                        <td><a href="#">修改表信息</a></td>
                                        <td><a href="#" onclick=delete_table("{{ assest |mongo_id }}")>删除表</a></td>
                                        <script>
                                            var str = 'id={{ assest |mongo_id}}&name={{ assest.name }}&display_name={{ assest.display_name }}&action=edit';
                                            var encode64_str = window.btoa(window.encodeURIComponent(str));
                                            var edit_html = '<td><a href="/assest/manage?' + encode64_str + '">修改</a></td>';
                                            {#                                            console.log(window.encodeURIComponent(str));#}
                                            document.write(edit_html);
                                        </script>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    {% else %}
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading" id="table_name" name="{{ table_name }}">
                            修改 '{{ table_display_name }}({{ table_name }})'
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <a class="btn btn-primary" onclick="add_field()">
                                    添加新字段 <i class="fa fa-plus"></i>
                                </a>
                                <table class="display table table-bordered table-striped" id="field_table">
                                    <thead >
                                    <tr>
                                        <th is_input="False" name="'field_id">字段序号</th>
                                        <th is_input="True" input_type="input"  class="th_name" name="field_name">字段名称</th>
                                        <th is_input="True" input_type="input"  class="th_name" name="field_display">字段展示名称</th>
                                        <th is_input="True" input_type="select" class="th_name" name="field_show">是否展示</th>
                                        <th is_input="None" >编辑</th>
                                        <th is_input="None" >删除</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for field in assest_info.field_list %}
                                        <tr class="">
                                            <td class="field_info_td field_id_td">{{ field.field_id }}</td>
                                            <td  class=" field_info_td field_name_td">{{ field.field_name }}</td>
                                            <td  class=" field_info_td field_display_td">{{ field.field_display }}</td>
                                            <td  class=" field_info_td field_show_td">{{ field.field_show }}</td>
                                            <td><a class="edit" href="javascript:;" onclick="edit_field(this)">修改</a></td>
                                            <td><a class="delete" href="javascript:;" onclick="delete_field(this)">删除</a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </section>

                </div>
            </div>
            {#            <div class="row">#}
            {#                <div class="col-sm-12">#}
            {#                    <section class="panel">#}
            {#                        <header class="panel-heading" id="table_name" table_name="{{ table_name }}">#}
            {#                            修改 '{{ table_display_name }}({{ table_name }})'#}
            {#                            <span class="tools pull-right">#}
            {#                        <a href="javascript:;" class="fa fa-chevron-down"></a>#}
            {#                        <a href="javascript:;" class="fa fa-times"></a>#}
            {#                     </span>#}
            {#                        </header>#}
            {#                        <div class="panel-body">#}
            {#                            <div class="adv-table editable-table ">#}
            {#                                <div class="clearfix">#}
            {#                                    <div class="btn-group">#}
            {#                                        <button id="editable-sample_new" class="btn btn-primary">#}
            {#                                            添加新字段 <i class="fa fa-plus"></i>#}
            {#                                        </button>#}
            {#                                    </div>#}
            {#                                    <div class="btn-group pull-right">#}
            {#                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i#}
            {#                                                class="fa fa-angle-down"></i>#}
            {#                                        </button>#}
            {#                                        <ul class="dropdown-menu pull-right">#}
            {#                                            <li><a href="#">Print</a></li>#}
            {#                                            <li><a href="#">Save as PDF</a></li>#}
            {#                                            <li><a href="#">Export to Excel</a></li>#}
            {#                                        </ul>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                                <div class="space15"></div>#}
            {#                                <table class="table table-striped table-hover table-bordered" id="editable-sample">#}
            {#                                <table class="table table-striped table-hover table-bordered"        >#}
            {#                                    <thead>#}
            {#                                    <tr>#}
            {#                                        <th >字段序号</th>#}
            {#                                        <th>字段名称</th>#}
            {#                                        <th>字段展示名称</th>#}
            {#                                        <th>是否展示</th>#}
            {#                                        <th>编辑</th>#}
            {#                                        <th>删除</th>#}
            {#                                    </tr>#}
            {#                                    </thead>#}
            {#                                    <tbody>#}
            {#                                    {% for field in assest_info.field_list %}#}
            {#                                        <tr class="">#}
            {#                                            <td class="field_id_td">{{ field.field_id }}</td>#}
            {#                                            <td old_value = {{ field.field_name }} class="field_name_td">{{  field.field_name}}</td>#}
            {#                                            <td old_value = {{ field.field_display }} class="field_display_td">{{ field.field_display }}</td>#}
            {#                                            <td old_value = {{ field.field_show }} class="field_show_td">{{ field.field_show }}</td>#}
            {#                                            <td><a class="edit" href="javascript:;">Edit</a></td>#}
            {#                                            <td><a class="delete" href="javascript:;">Delete</a></td>#}
            {#                                        </tr>#}
            {#                                    {% endfor %}#}
            {#                                    </tbody>#}
            {#                                </table>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </section>#}
            {#                </div>#}
            {#            </div>#}


        </div>
    {% endifequal %}
{% endblock %}


{% block script %}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript"
            src="/static/js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/js/data-tables/DT_bootstrap.js"></script>
    <script src="/static/js/editable-table.js"></script>
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();
        });

        function delete_table(id) {
            var str = 'id=' + id + '&action=delete';
            var encode64_str = window.btoa(window.encodeURIComponent(str));
            $.post('/assest/manage?' + encode64_str, function (ret) {
                console.log(ret);
                if (ret) {
                    $("#" + id).parents('tr').remove();
                }
            })
        }
    </script>
    <script>
        function add_field() {
            // 给一个表添加一行数据，但是列数不确定，每一列是否要插入，插入input还是select都不一定
            // is_input=False input_type = input or select 放到thead 里面去
            var table = $('#field_table');
            var tbody = table.find('tbody');
            var thead = table.find('thead');
            // 定义要插入input的td
            var input_class = 'field_info_td';
            // 生成html
            var all_thead_th = thead.find('th');
            var new_tr_html = '';
            $.each(all_thead_th,function () {
                var td_name = $(this).attr('name');
                if($(this).attr('is_input')=='False'){
                    new_tr_html +='<td class="'+td_name+'_td"></td>';
                }else if($(this).attr('is_input')=='True'){
                    if($(this).attr('input_type')=="input"){
                        new_tr_html += '<td class="'+input_class+'  '+td_name+'_td"><input class="data"></td>';
                    }else if($(this).attr('input_type')=="select"){
                        var select_html = '<select class="data" ><option value="True">True</option><option value="False">False</option></select>';
                        new_tr_html += '<td class="'+input_class+'  '+td_name+'_td">'+select_html+'</td>';
                    }

                }else{

                }
            });
            var edit_html =    '<td class="edit_a"><a  href="javascript:;" onclick="save_field(this)">新增</a></td>';
            var cancle_html =  '<td class= "delete_a"><a  href="javascript:;" onclick="cancle_field(this)">取消</a></td>';
            new_tr_html= '<tr>'+new_tr_html+edit_html+cancle_html+'</tr>';
            tbody.prepend(new_tr_html);
        }
        // 取消
        function cancle_field(ths) {
            var ths_tr = $(ths).parents("tr");
            var hide_td = ths_tr.find('td.field_id_td').length;
            if(hide_td==0){
                // 新增的时候取消
                ths_tr.remove();

            } else {
                var all_data = ths_tr.find("td.field_info_td");
                $.each(all_data, function () {
                    var value = $(this).children('input').attr('old_value');
                    $(this).html(value);
                });
                var edit_html = '<a  href="javascript:;" onclick="edit_table(this)">修改</a>';
                var delete_html = '<a  href="javascript:;" onclick="delete_table(this)">删除</a>';
                ths_tr.find('.edit_a ').html(edit_html);
                ths_tr.find(".delete_a ").html(delete_html);
            }
        }

        // 编辑 field
        function edit_field(ths) {

        }

        // 删除 field
        function delete_field(ths) {

        }

        // 保存field
        function save_field(ths) {
            var ths_tr = $(ths).parents("tr");
            var table_name = $('#table_name').attr('name');
            var field_id =ths_tr.find('.field_id_td').text();
            var all_field_info  = ths_tr.find('.field_info_td');
            $.each(all_field_info,function () {
                // 去掉input或者其他输入框
                var value = $(this).find('.data').val();
                $(this).html(value);
            });
            var old_name = ths_tr.find('.field_name_td').attr('old_value');
            var old_show = ths_tr.find('.field_show_td').attr('old_value');
            var old_display_name = ths_tr.find('.field_display_td').attr('old_value');

             var field_name = ths_tr.find('.field_name_td').text();
            var field_show = ths_tr.find('.field_show_td').text();
            var field_display = ths_tr.find('.field_display_td').text();
            var data = {
                table_name: table_name,
                field_id: field_id,
                field_old: JSON.stringify({
                    field_name: old_name,
                    field_show: old_show,
                    field_display: old_display_name
                }),
                field_info: JSON.stringify({
                    field_id: field_id,
                    field_show: field_show,
                    field_name: field_name,
                    field_display: field_display
                })
            };
            $.ajax({
                type: 'POST',
                url: window.location.href,
                data: data,
                success: function (ret) {
                    console.log(ret)
                },
                dataType: 'json'
            });
            var edit_html = '<a  href="javascript:;" onclick="edit_table(this)">修改</a>';
            var delete_html = '<a  href="javascript:;" onclick="delete_table(this)">删除</a>';
            ths_tr.find('.edit_a ').html(edit_html);
            ths_tr.find(".delete_a ").html(delete_html);
        }



    </script>


{% endblock %}